{% extends base_template|default:"base.html" %}
{% load webdesign %}
{% block title %}
Art72 | Terms of Service
{% endblock %}
{% block background-image %}
<div id='bg'>
    <img id='painter' class='cur' src='{{ STATIC_URL }}promo/images/bg-painter.jpg' />
</div>{% endblock %}
{% block center %}
<div class='top-copy'>
    <h2>Art 72 Terms of Service</h2>
    <h4 class="underline">Don't be a douce</h4>
</div>
<div style='width: 400px; margin: 150px 300px;' class='bottom-copy'>
	<h4>By using Art72 you agree to not sue us and that all the images you upload are your own. Oh we can also promote your site on ours</h4><h3>not too complicated is it?</h3>
</div>
{% endblock %}