html, body {
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
    font-family: ff-meta-web-pro, metapro, Helvetica, Arial, sans-serif;
	/*background: #fff;*/
	background-image: url(../images/soho-type.png);
	background-repeat: repeat;
	background-position: center;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 1.5em;
	color: #fff;
	font-weight: 700;
}
h2, h3 {
	color: #fff;
}
h3 {
	font-size: .85em;
	font-weight: 500;
}
h2.edit-heading {
	font-size: 1em;
	font-weight: 400;
	padding: 5px 20px;
	margin: 0;
	color: #00afde;
	background: #333;
}
.info-column h3 {
	color: #00AFDE;
	font-size: 1em;
	font-variant: small-caps;
}
.info-column img {
	margin: 0;
}
h4 {
	color: #444;
	font-size: .85em;
	font-weight: 400;
}
h5 {
	color: #ccc;
	font-size: .75em;
	font-weight: 400;
	margin: 5px 0 0 0;
	padding: 0 5px 0 0;
	border-top: thin solid #ccc;
	display: inline-block;
}
h5:hover {
	color: #00AFDE;
	border-top: thin solid #00AFDE;
	cursor: pointer;
}
p {
	font-size: .75em;
	color: #444;
	line-height: 1.5em;
}
ul li {
	display: inline-block;
	font-variant: small-caps;
	font-weight: 700;
}
li {
	color: #FFFFFF;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	color: #CCCCCC;
}
.blue-line {
	border-bottom: none;
	border-right: none;
	border-left: none;
	border-top: thin solid #00afde;
}
.wrapper-thin {
	background-color: #333;
	height: 30px;
}
header, #recent-activity-header {
	background-color: #333;
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}
header ul li, #recent-activity-header ul li {
	padding: 0 10px;
	height: 20px;
	margin: 5px 0;
	text-align: center;
}
ul li.list-last {
	border-left: 1px solid #fff;
}
/*ul li.list-first {
	border-left: thin solid #aaa;
}*/
#intro-overlay {
	position: absolute;
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	background: #000;
	background: rgba(0, 0, 0, .93);
}
#intro-overlay h1 {
	width: 900px;
	margin: 200px auto 0 auto;
	padding: 0;
	font-size: 6.5em;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;

}
#main {
	min-height: 800px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
	background: rgba(255, 255, 255, .95);
}
#main.dashboard-index {
	background-color: transparent;
}
#dashboard-main-nav {
	width: 920px;
	margin: 75px auto;
	padding: 30px 0 30px 30px;
	background-color: #fff;
	overflow: hidden;
}
.nav {
	position: relative;
	width: 200px;
	height: 250px;
	float: left; 
	margin: 0;
	padding: 0;
}
.nav-icon, .nav-icon-add {
	position: absolute;
	top: 0;
	width: 200px;
	height: 200px;
	margin: 0;
	padding: 0;
}
.nav-icon-add {
	background-image: url(../images/add-art-piece.jpg);
}
.nav:hover .nav-icon-add, .nav {
	background-image: url(../images/add-art-piece-hover.jpg);
	cursor: pointer;
}
.nav:hover .nav-icon-text {
	background-color: #00AFDE;
}
.nav-icon-text {
	position: absolute;
	bottom: 0;
	height: 25px;
	width: 200px;
	clear: both;
	padding: 10px 0;
	text-align: center;
	background: #333;
	border-top: thick solid #ffffff;
}
.info-column, .info-column-wide {
	min-height: 750px;
	width: 180px;
	margin: 50px 0 0 20px;
	padding: 0;
	float: left;
	border-top: thin solid #00AFDE;
}
.info-column-wide {
	width: 560px;
}
.info-column-wide img {
	margin: 0 0 10px 10px;
}
.info-column li {
	display: block;
	line-height: 1.5em;
}
.info-column h4, .info-column-wide h3 {
	color: #444;
	font-size: .85em;
	font-variant: normal;
}
.info-column-wide h3 {
	font-weight: 400;
	line-height: 1.5em;
	color: #00AFDE;
	padding: 0 0 10px 0;
}
ul.nested-list li {
	color: #999;
	font-size: .75em;
	font-weight: 400;
	font-variant: normal;
	padding-left: 10px;
}
h3.selected-filter {
	background-color: #00AFDE;
	color: #fff;
	padding-left: 10px;
}
ul li.selected-filter-sub {
	color: #00AFDE;
}
#recent-activity-wrapper {
	/*position: fixed;*/
	bottom: 0;
	width: 100%;
	clear: both;
	background-color: #fff;
	overflow: hidden;
}
#recents {
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	padding: 0;
}
.recents-content {
	width: 130px;
	height: 130px; 
	margin: 10px 0;
	padding: 0 10px;
	float: left;
	border-right: thin dotted #ccc;
}
.recents-arrows {
	width: 50px;
	height: 130px; 
	margin: 10px 0;
	padding: 0 10px;
	float: left;
}
.recents-fpo {
	width: 130px;
	height: 130px; 
	margin: 0;
	padding: 0;
	background: #bbb;
}
.margin-left-30 {
	margin-left: 30px;
}
footer {
	
}
.gradient-blue {
	background: #007cbb; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #007cbb 0%, #00afde 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #007cbb 0%,#00afde 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #007cbb 0%,#00afde 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #007cbb 0%,#00afde 100%); /* IE10+ */
background: linear-gradient(-45deg,  #007cbb 0%,#00afde 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007cbb', endColorstr='#00afde',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.gradient-gray {
	background: #E7E8E8; /* Old browsers */
background: -moz-linear-gradient(-90deg,  #E7E8E8 0%, #bbb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-90deg,  #E7E8E8 0%,#bbb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-90deg,  #E7E8E8 0%,#bbb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-90deg,  #E7E8E8 0%,#bbb 100%); /* IE10+ */
background: linear-gradient(-90deg,  #E7E8E8 0%,#bbb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E7E8E8', endColorstr='#bbb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.shadow {
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	box-shadow: 0px 0px 7px #222;
}
.rounded {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.rounded-bottom {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -khtml-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.rounded-top {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.selected {
	color: #00AFDE;
}