{% extends "base.html" %}
{% load thumbnail %}
{% block breadcrumbs %}<a href="{{ artist.get_absolute_url }}">{{ artist }}</a>&nbsp;<p>/<p>&nbsp;<a href="{{ category.get_absolute_url }}">{{ category.title }}</a>{% endblock %}
{% block center %}
<style>
    {% autoescape off %}{{ artist.theme.category_css }}{% endautoescape %}
</style>
<div id='gallery'>
	<h3>{{ category.title }}</h3>
    {% for series in category.gallery_children %}
	{% autoescape off %}{% include "gallery/series/specs.html" with series=series %}{% endautoescape %}
	<a href="{{ series.get_absolute_url }}">
        <div class='series thumbs'>    
            {% include "gallery/piece/image.html" with media=series.default_media dim=theme.category_layout.image_dimension pos='' %}
            <h5>
                {{ series.title }}
            </h5>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %} 