{% extends "base.html" %}
{% load thumbnail %}
{% block breadcrumbs %}<a href="{{ artist.get_absolute_url }}">{{ artist }}</a>{% endblock %}
{% block center %}
<div id='gallery'>
    {% for cat in categories %}
    <div class='category thumbs'>
         <a href='{{ cat.get_absolute_url }}'>	   
	   {% include "gallery/piece/image.html" with media=cat.default_media dim=theme.category_layout.image_dimension pos='center' %}
	        
			<h5>{{ cat }}</h5>
		</a>
	</div>
        {% empty %}
        <br/>
        {{ artist.name }} hasn't set up any galleries as of yet
    {% endfor %}
</div>
{% endblock %} 