{% extends "base.html" %}
{% block breadcrumbs %}<a href="{{ artist.get_absolute_url }}">gallery of {{ artist }}</a>{% endblock %}
{% block center %} <h1>artist: {{ artist }}</h1>
subdomain: {% request.subdomain %}
{% if artist.statement %}
<p>
    statement: {{ artist.statement }}
</p>
{% endif %}
galleries:
 {% for cat in categories %}
<a href='{{ cat.get_absolute_url }}'><h2>{{ cat }}</h2></a>     
 {% empty %}
 <br />
 {{ artist.name }} hasn't set up any galleries as of yet
 {% endfor %}
{% endblock %} 