{% extends base_template %}
{% load thumbnail %}
{% block breadcrumbs %}<a href="/">gallery</a>&nbsp;&gt;&nbsp;<a href="/{{ piece.series.category.get_url }}">{{ piece.series.category.name }}</a>&nbsp;&gt;&nbsp;<a href="/{{ piece.series.get_url }}">{{ piece.series.name }}</a>&nbsp;&gt;&nbsp;<a href="/{{ piece.get_url }}">{{ piece.name }}</a>{% endblock %}
{% block center %} <h1> {{ piece.title }} </h1>
<h2> {{ piece.description }} </h2>
<p>
    {% for img in piece.all_imgs %}
    {% if img == piece.default_img %}
    default image
    {% endif %}
    {% thumbnail img.image "800x800" as foo%} <img src="{{ foo.url }}" width="{{ foo.width }}px" height="{{ foo.height }}px" alt="{{ piece.title }}-{{ forloop.counter }}" style="margin:{{ foo|margin:"800x800" }}" />
    {% endthumbnail %}
    {% endfor %}
</p>
{% endblock %}