{% extends "base.html" %}
{% load thumbnail %}
{% block breadcrumbs %}<a href="{{ artist.get_absolute_url }}">{{ artist }}</a>&nbsp;&gt;&nbsp;<a href="{{ series.category.get_absolute_url }}">{{ series.category.title }}</a>&nbsp;&gt;&nbsp;<a href="{{ series.get_absolute_url }}">{{ series.title }}</a>{% endblock %}
{% block center %}
<style>
    {% autoescape off %}{{ artist.theme.series_css }}{% endautoescape %}
</style>
<div id='gallery'>
    <h3>{{ series.title }}</h3>
    {% for piece in series.gallery_children %} <a href="{{ piece.get_absolute_url }}">
        <div class='piece thumbs'>    
       {% include "gallery/piece/image.html" with media=piece.default_media dim=theme.series_layout.image_dimension pos='center' %}
            <h5>
                {{ piece.title }}
            </h5>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %} 