#login {
    border: 1px solid #000;
    width: 270px;
    height: 40px;
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 10;
    padding: 5px 10px 5px 10px;
    display: inline;
    background-color: #00AEDF;
}
#login input, #login p {
    margin-right: 5px;
    margin-top: 0px;
    display: inline;
    color: #FFF;
    font-weight: 900;
}
#login-form > input.submit{
	color: #000;
}
#login.login-fail {
    background-color: #992222;
    height: 60px;
}
#user-menu {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 170px;
    height: 30px;
    z-index: 10;
}
#add-new-piece {
    display: none;
    border: 1px solid black;
    opacity: 0;
}
#add-new-series{
	color: #00afdb;
}
#add-new-series:hover{
	cursor: pointer;
}

#add-series{
    position: absolute;
    color: #000;
    background: #FFF;
    opacity: 0;
    z-index: -1;
    top: 150px;
    left: 0px;
    width: 320px;
    height: 270px;
    display: inline-block;
    border: 1px solid black;
}

#add-series-form{
    position: relative;
    top: 0px;
    left: 0px;
}

#add-new-piece{
    border: 1px solid black;
	opacity: 0;
}

#add-new-piece:hover{
	cursor: pointer;
}

#add-new-piece h1{
    position: relative;
	top: 5px;
	left: 40px;
}

#add-piece{
    position: absolute;
    color: #000;
    background: #FFF;
    opacity: 0;
    z-index: -1;
    top: 50px;
    left: 0px;
    width: 600px;
    height: 250px;
    display: inline-block;
    border: 1px solid black;
}

#add-piece-form{
    position: relative;
    top: 0px;
    left: 0px;
}

#add-piece-form p{
    width: 100px;
    height: 20px;
    margin: 10px 5px 50px 5px;
    display: inline-block;
}

#add-contact-info{
	display: none;
}
#add-new-contact{
	color: #00AFDB;
}

.editting{
	border: 1px dashed #F00;
}
.editting h4{
	color: #f00;
    z-index: 2;
	position: absolute;
	left: 30px;
	height: 20px;
	width: 100px;
}

#save-menu{
	display: none;
	position: fixed;
	bottom: 5px;
	right: 5px;
}
