<!DOCTYPE HTML>
<html>
    <head>
        <title>Art72</title>
    </head>
    <body>
        <h1>Welcome to Art72</h1>
        <h2>Art72 is the easiest way to make your online gallery.</h2>

        <h3>Have your own gallery?</h3>
        <p>You can login <a href="/accounts/login">here</a>.
        
        <h3>Want your own gallery?</h3>
        <p>Cool, you can get one <a href="/accounts/register">here</a>.</p>
        
        <h3>Just visiting?</h3>
        <p>
            Great, here's all {{ artists.count }} artist in the system right now.
            <br />
            You can view each of their galleries by clicking below.
        </p>
        <ul>
            {% for artist in artists %}
            <li>
                <a href="{{ artist.get_absolute_url }}">{{ artist }}</a>
            </li>
            {% empty %}
            <li>
                Art is dead.
            </li>
            {% endfor %}
        </ul>
    </body>
</html>