{% extends 'header.html' %}

<a id='logo' {% block logo %} href='/edit/' title='right click to edit'{% endblock %}><h2>name</h2></a>
<div id='nav'>
{% if user.is_authenticated %}
    {% block series %}
    {% for series in serieses %}
       <a href='/edit/{{ series.slug }}' id='{{ series }}' class='{% if pieces.0.series == series or pieces.all.0.series.all.0 == series %}currentPage{% else %} notCur {% endif %}'><p>{{ series }}</p></a>
   {% endfor %}
   <p class='link' id='add-new-series'>(+) add new series</p>
   {% endblock %}
{% endif %}
</div>
<div id='contact'><a {% block contact %} href='/edit/contact' {% endblock %}><p>contact</p></a></div>
{% if user.is_authenticated %}
{% include 'add-series.html' %}
{% endif %}
