{% extends 'head.html' %}
{% block edit_head %}
<link href="/site_media/static/css/edit.css" rel="stylesheet" type="text/css">
<script type='text/javascript' src='/site_media/static/js/jquery.form.js'>
</script>
<script type='text/javascript' src='/site_media/static/js/edit.js'>
</script>
<!--<script type='text/javascript' src='/site_media/static/js/dndi.js'>
</script>!-->
{% endblock %}
{% block edit_menu %}
{% include 'save-menu.html' %}
{% include 'login.html' %}
<div id='feedback'>
	<h4></h4>
</div>
{% endblock %}
