{% include 'edit_head.html' %}
<body>
<div class="link" id="header">
    {% include 'edit_header.html' %}
</div>
</div>
<div id="container">
    <div id='add-contact-info'>
    	<form>
    		{{ csrf.token }}
        <h5>what should it say?</h5><input id='shown' type='text' value=''/>
		<h5>where should it go to?</h5><input id='linked' type='text' value=''/>
		<input id='submit-contact' class='submit' type='button' value='save'/>
		<input id='cancel-contact' class='cancel' type='button' value='cancel'/>
		</form>
    </div>{% include 'contact_base.html' %}
	<div class='link' id='add-new-contact'>
		<p>(+) add new contact link</p>
	</div>
</div>
<div id="footer" class="link">
</div>
</body
</html>
