<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>.</title>
        <!-- analytics !-->
        <script type="text/javascript">
            
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-24196336-1']);
            _gaq.push(['_setDomainName', '.art72.org']);
            _gaq.push(['_trackPageview']);
            
            (function(){
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
            
        </script>
        <link href="/media/css/template2.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript">
        </script>
        <script type='text/javascript' src='/media/js/jquery-ui-1.8.12.custom.min.js'>
        </script>
        <script type='text/javascript' src='/media/js/main.js'>
        </script>
		{% block edit_head %}
		{% endblock %}
    </head>
    <a href='http://decode72.com' target='_blank' title='design and hosting by decode72'>
        <img id='decode72-logo' class='ignore' src='/media/images/decode72-logo.gif' />
    </a>
	{% block edit_menu %}
    {% endblock %}