{% include 'head.html' %}
<body>
<div class="link" id="header">
    {% include 'header.html' %}
</div>
</div>
<div id="container">
<div id='bg-img'>
    <h5>put a background image here!</h5>
</div>
<div id="footer" class="link">
</div>
<div id="dialog-form" title="Create new user">
    <p class="validateTips">
        All form fields are required.
    </p>
    <form>
        <fieldset>
            <label for="name">
                Name
            </label>
            <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
            <label for="email">
                Email
            </label>
            <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
            <label for="password">
                Password
            </label>
            <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
        </fieldset>
    </form>
</div>
</body
</html>